@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "TestFailed";
}

<body>

    <h4 style="text-align:center; margin-top:30px;"> Din pacate nu ai obtinut numarul necesar de puncte! </h4>

</body>