@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleContact.css">
</head>
<body>
    <div class="contact-container">
        <h2>Contactează-ne</h2>
        <img class="logo" src="~/css/logo.png">
        <div class="contact-button">
            <a href="tel:+40700112233" class="phone-button">Sună-ne la +40 700 112 233</a>
        </div>
        <div class="contact-button">
            <a href="mailto:contact@example.com" class="email-button">Trimite un E-mail</a>
        </div>
        <div class="address">
            <p>Adresa noastră: Strada Exemplu 123, București, România</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com" class="social-link">Facebook</a>
            <a href="https://www.twitter.com" class="social-link">X</a>
            <a href="https://www.linkedin.com" class="social-link">LinkedIn</a>
        </div>
    </div>
</body>
